.wrap {
    font-family: MicrosoftYaHei;
}
.page {

}
/*=====header=====*/
.header {
    width: 1173px;
    height: 80px;
    margin: 28px auto 28px auto;

    img {
        height: 100%;
    }
}
/*=====header=====*/
/*====main-menu===*/
.main-menu {
    width: 100%;
    height: 98px;
    background: #3cbaff;
    position: relative;

    h2 {
        font-size: 28px;
        color: #fff;
        line-height: 98px;
        margin-left: 50px;
    }

    ul {
        position: absolute;
        top: 0;
        right: 50px;

        li {
            display: inline-block;
            height: 98px;
            line-height: 98px;
            color: #fff;
            opacity: 0.5;
            margin-left: 40px;
            font-size: 14px;
            
            &.active {
                opacity: 1;
            }
        }
    }
    
}
/*====main-menu===*/
/*====doc page====*/
.page-doc {
    display: flex;

    .left-side-bar {
        flex: 1;
    }
    
    .main-doc-area {
        flex: 2;
    }

    .demo-area {
        flex: 1;
    }
}
/*====doc page====*/